@media (max-width: 575px){
   .about-item{
        width: 100%;
   }
   .download-icon{
      right: 40%;
   }
   .hero-img{
      width: 100%;
      height: 400px;
   }
   .hero{
      height: auto;
   }
}
@media (min-width: 576px){
   .about-item{
        width: 100%;
   }
   .download-icon{
      right: 39%;
   }
}
@media (min-width: 768px){
   .about-item{
        width: 80%;
   }
   .download-icon{
      right: 28%;
   }
}
@media (min-width: 992px){
   .download-icon{
      right: 21%;
   }
}
@media (min-width: 1200px){
   .about-item{
        width: 55%;
   }
   .download-icon{
      right: 28%;
   }
}
@media (min-width: 1400px){
   .download-icon{
      right: 21%;
   }
}