:root{
    --bs-primary: #f9d224;
    --bs-primary-rgb: 249, 210, 36;
    --bs-dark: #181818;
    --bs-font-sans-serif: 'Kodchasan';
}
h1, h2, h3, h4, h5, h6{
    font-family: 'Kodchasan';
    color: black;
    font-weight: 600;
}
a{
    text-decoration: none;
    color: black;
}
ul{
    list-style: none;
}
.p-150{
    padding-top: 150px;
    padding-bottom: 150px;
}
.p-80{
    padding-top: 80px;
    padding-bottom: 80px;
}
.pt-150px{
    padding-top: 150px;
}
.pb-150{
    padding-bottom: 150px;
}
body{
    /* background-color: #F2F3F5 !important; */
    font-family: 'Kodchasan';
}
.bg-light{
    background-color: rgba(128, 128, 128, 0.2) !important;
}
.bubbles{
    height: 100%;
}
.bubble1{
    width: 150px;
    height: 150px;
    bottom: -150px;
    box-shadow: 1px 1px 4px var(--bs-primary);
}
.bubble2{
    width: 100px;
    height: 100px;
    box-shadow: 1px 1px 4px var(--bs-primary);
    bottom: -150px;
}
.bubble3{
    width: 50px;
    height: 50px;
    box-shadow: 1px 1px 4px var(--bs-primary);
    bottom: -150px;
}
.bubble4{
    width: 20px;
    height: 20px;
    box-shadow: 1px 1px 4px var(--bs-primary);
    bottom: -150px;
}
.b11, .b21, .b31, .b41{
    animation: animate 15s linear infinite, obj-move 6s infinite ease-in-out;
}
.b12, .b22, .b32, .b42{
    animation: animate 15s linear infinite, obj-move-1-2 6s infinite ease-in-out;
    animation-delay: 2s;
}
.b13, .b23, .b33, .b43{
    animation: animate 15s linear infinite, obj-move-1-3 6s infinite ease-in-out;
}
.b14, .b24, .b34, .b44{
    animation: animate 15s linear infinite, obj-move-1-4 6s infinite ease-in-out;
    animation-delay: 3s;
}
.b21{
    animation-delay: 4s;
}
.b22{
    animation-delay: 5s;
}
.b23{
    animation-delay: 6s;
}
.b24{
    animation-delay: 7s;
}
.b31{
    animation-delay: 9s;
}
.b32{
    animation-delay: 10s;
}
.b33{
    animation-delay: 11s;
}
.b34{
    animation-delay: 12s;
}
.b41{
    animation-delay: 13s;
}
.b42{
    animation-delay: 14s;
}
.b43{
    animation-delay: 15s;
}
.b44{
    animation-delay: 16s;
}
@keyframes animate{
  0% {
    transform: translateY(0) scale(1);
  }
  100% {
    transform: translateY(-1700px) scale(1.5);
  }
}
@keyframes obj-move{
    0%{
        left: 15%;
    }
    50%{
        left: 5%;
    }
    100%{
        left: 15%;
    }
}
@keyframes obj-move-1-2{
    0%{
        left: 45%;
    }
    50%{
        left: 32%;
    }
    100%{
        left: 45%;
    }
}
@keyframes obj-move-1-3{
    0%{
        right: 35%;
    }
    50%{
        right: 22%;
    }
    100%{
        right: 35%;
    }
}
@keyframes obj-move-1-4{
    0%{
        right: 15%;
    }
    50%{
        right: 5%;
    }
    100%{
        right: 15%;
    }
}
.hero{
    height: 700px;
}
.hero-img{
    width: 400px;
    height: 600px;
}
.hero-img::before, .hero-img::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1rem;
    width: 100%;
    height: 100%;
}
.hero-img::before{
    transform: scale(1.1);
    border: 2px solid white;
}
.hero-img::after{
    background: url(../images/face/my_pic4.jpg);
    background-size: cover;
}
.hero-content{
    backdrop-filter: blur(5px);
}
.hero-work-title{
    width: 100%;
    height: 60px;
}
.text-display-animation {
  opacity: 0;
  width: 100%;
  animation: textFade 6s infinite;
}
.hero-content ul li:nth-child(1) {
  animation-delay: 0s;
}
.hero-content ul li:nth-child(2) {
  animation-delay: 2s;
}
.hero-content ul li:nth-child(3) {
  animation-delay: 4s;
}
@keyframes textFade {
  0%, 100% {
    opacity: 0;
    transform: translateY(10px);
  }
  10%, 30% {
    opacity: 1;
    transform: translateY(0);
  }
  40%, 100% {
    opacity: 0;
    transform: translateY(-10px);
  }
}
.transition{
    transition: all 0.5s ease;
}
.btn{
    border-radius: 40px;
    background-color: var(--bs-primary);
    color: black;
    border: none;
}
.btn:hover{
    border-radius: 0px;
    background-color: transparent;
    color: white;
    border: 1px solid var(--bs-primary);
}
.about .btn:hover{
    color: black;
}
.about-item .btn:hover{
    color: white;
}
.animation-rotate{
    animation: rotate 10s linear infinite;
}
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
.download-icon{
    top: 50%;
    right: 23.5%;
    transform: translateY(-50%);
}
.about-item{
    max-height: 660px;
    overflow-y: auto;
    width: 55%;
    box-shadow: 0px 0px 5px transparent;
}
.projects .about-item{
    height: 800px;
    width: 80%;
}
.projects{
    height: 100%;
}
.offcanvas-icon{
    top: 4%;
    left: 5%;
    width: 60px;
    height: 60px;
    line-height: 60px;
}
.offcanvas-body ul li a:hover{
    color: var(--bs-primary);
}
.s-links ul{
    list-style: disc;
}
.s-links ul li::marker{
    color: var(--bs-primary);
}
.s-links{
    transform: rotate(90deg);
    right: -8%;
    top: 45%;
}
.nav-pills .nav-link.active{
    background-color: transparent !important;
    color: var(--bs-primary);
}
.nav-link{
    color: rgba(255, 255, 255, 0.5);
}
.section-links{
    top: 55%;
    left: 4.5%;
    transform: translateY(-50%);
}
.section-title{
    display: none;
}
.nav-link:hover .section-title{
    display: inline-block;
}
.nav-pills{
    --bs-nav-pills-link-active-bg: black;
    background-color: #181818;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.offcanvas-header img, header img{
    width: 100px;
    height: 100px;
}
.resume-icon, .service-icon{
    width: 50px;
    height: 50px;
}
.service-item, .testimonial-item{
    background-color: rgb(23, 23, 23);
}
.progress-ring {
  position: relative;
  width: 120px;
  height: 120px;
}
.progress-ring svg {
  transform: rotate(-90deg);
}
.progress-ring circle {
  fill: none;
  stroke-width: 5;
  r: 52;
  cx: 60;
  cy: 60;
}
.progress-ring .bg {
  stroke: #eee;
}
.progress-ring .progress {
  stroke: var(--bs-primary);
  stroke-linecap: round;
  stroke-dasharray: 326.72;
  stroke-dashoffset: var(--offset);
  transition: stroke-dashoffset 1s ease-out;
}
.progress-ring-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1.2rem;
}
.label {
  margin-top: 10px;
  font-weight: 500;
}
.h-skill-item{
    border: 1px solid rgba(0, 0, 0, 0.7);
}
.h-skill-item:hover{
    border: 1px solid var(--bs-primary);
    color: var(--bs-primary);
}
.testimonial-quote{
    transform: rotate(180deg);
}
.blog-item{
    height: 250px;
}
.blog1{
    background: url(../images/blog/blog_slider_img1.png);
    background-size: cover;
}
.blog2{
    background: url(../images/blog/blog_img5.png);
    background-size: cover;
}
.blog3{
    background: url(../images/blog/blog_pop_up.png);
    background-size: cover;
}
.blog4{
    background: url(../images/blog/blog_slider_img2.png);
    background-size: cover;
}
.blog5{
    background: url(../images/blog/blog_slider_img3.png);
    background-size: cover;
}
.blog6{
    background: url(../images/blog/blog_slider_img4.png);
    background-size: cover;
}
.blog-date{
    width: 70px;
    height: 70px;
    top: 3%;
    right: 3%;
}
.project-item::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: linear-gradient(0deg,rgba(255, 255, 255, 0) 0%, rgba(253, 187, 45, 0.5) 100%);
    transition: all 1s ease;
    transform-origin: top center;
}
.project-item:hover::before{
    top: -100%;
}
.video-item{
    height: 550px;
}
.experiance-list ul li{
    list-style: disc;
}
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #0b0b0b;
    z-index: 999999;
}

/* 1. The Bounce Animation */
.bounce-box {
    animation: bounceInDown 1.2s both;
}

/* 2. The Image & Width Reveal */
.signature-img {
    /* Starts hidden - clipped from the right */
    clip-path: inset(0 100% 0 0); 
    transition: clip-path 2.0s ease-in-out 1.2s; /* Reveal starts after bounce */
}

/* Triggered by JS */
.start-reveal .signature-img {
    clip-path: inset(0 0 0 0); /* Reveals to 100% width */
}

/* Keyframes for the Drop & Bounce */
@keyframes bounceInDown {
    0% { opacity: 0; transform: translateY(-500px); }
    60% { opacity: 1; transform: translateY(30px); }
    80% { transform: translateY(-10px); }
    100% { transform: translateY(0); }
}

/* Preloader Fade Out */
.preloader-hidden {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.8s ease;
}

/* --- MEDIA QUERIES --- */

/* Mobile Devices */
@media (max-width: 575.98px) {
    .signature-img {
        width: 280px; /* Adjust based on your image aspect ratio */
    }
}

/* Tablets */
@media (min-width: 576px) and (max-width: 991.98px) {
    .signature-img {
        width: 450px;
    }
}

/* Desktop */
@media (min-width: 992px) {
    .signature-img {
        width: 600px;
    }
}